@model JDBudgetPlanner.Models.Transaction
@{ 
    var AccountId = ViewBag.AccountId;
    var BudgetCategories = ViewBag.BudgetCategories;
}

@using (Html.BeginForm("AddTransaction", "Transactions")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Add Transaction</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="AccountId" value="@AccountId" />

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <input type="text" name="Amount" id="Amount" class = "form-control currency" />
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="model.TransactionType" class="control-label col-md-3">Type</label>
            <div class="col-md-9">
                @Html.EnumDropDownListFor(model => model.TransactionType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="categories">
            <label for="model.BudgetCategoryId" class="control-label col-md-3">Category</label>
            <div class="col-md-9">
            @Html.DropDownList("BudgetCategoryId", new SelectList(BudgetCategories, "Id", "Name", ""), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Transaction" class="btn btn-default" />
            </div>
        </div>
    </div>
}
